.header__lang-link {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
    justify-content: center;
    margin-left: 18px;
    border: 1px rgb(33, 235, 14) solid;
  }

.header__lang-link:hover {
    opacity: 0.5;
    transition: 0.5s;
}
