.header__lang-link {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
    justify-content: center;
    margin-left: 18px;
    transition: 0.5s;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
  }

.header__lang-link:hover {
    opacity: 0.8;
}
