.footer__column-link {
  color: rgb(255, 255, 255);
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    margin-right: 18px;
  }

.footer__column-link:hover {
    opacity: 0.5;
    transition: 0.5s;
}

@media screen and (max-width: 550px) {
  .footer__column-link {
    margin-bottom: 32px;
  }
}
