.intro__list {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  list-style: outside none none;
  margin-top: 33px;
  max-width: 100%;
}

.intro__list span {
  font-weight: normal;
 }

@media screen and (max-width: 550px) {
  .intro__list {
    margin-top: 34px;
  }
}
