.lead {
  margin: 0;
  padding: 0;
  margin-top: 56px;
  margin-bottom: 92px;
  color: rgb(255, 255, 255);
  font-style: normal;
  display: flex;
  flex-direction: column;
  max-width: 1184px;
  margin-left: 148px;
  margin-right: 148px;
  justify-self: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  }

@media screen and (max-width: 1024px) {
    .lead {
      margin-top: 48px;
      margin-left: 48px;
      margin-right: 48px;
    }
}

@media screen and (max-width: 768px) {
  .lead {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 617px) {
  .lead {
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
  }
}
