.header {
    height: 52px;
    max-width: 1124px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-self: center;
    justify-content: space-between;
    background-color:  #2c2c2c;
    overflow: hidden;
    margin-left: 48px;
    margin-right: 48px;
  }

@media screen and (max-width: 1024px) {
    .header {
      max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    max-height: 52px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    max-height: 42px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
