.lead__title {
  max-height: 100%;
  max-width: 720px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-height: 100%;
    max-width: 100%;
    font-size: calc(500%);
    line-height: 100px;
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .lead__title {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}
