.place__paragraph {
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
  font-family: "Inter-reg", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  }

  .place__paragraph:not(:last-of-type) {
    margin-bottom: 26px;
  }

  @media screen and (max-width: 768px) {
    .place__paragraph {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 163%;
    }
  }

  @media screen and (max-width: 617px) {
    .place__paragraph {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
