.intro__text {
  color: white;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  max-width: 690px;
  margin: 0;
  margin-right: auto;
  justify-content: center;
}
