.cover__text {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  justify-items: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
