.lead__subtitle {
  max-width: 640px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 64px;
  font-family: "Inter-reg", "Arial", sans-serif;
}


@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 617px) {
  .lead__subtitle {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}
