.cover {
  color: white;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1184px;
  margin-top: 88px;
  position: relative;
}


@media screen and (max-width: 1024px) {
  .cover {
    min-width: 320px;
    max-width: 1024px;
  }
}

/* @media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
    margin-top: 99px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-bottom: 64px;
    margin-top: 68px;
  }
} */
