.cover {
  color: white;
  margin: 0 auto;
  min-width: 1024px;
  min-height: 740px;
  margin-top: 87px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  margin-right: 48px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  transition: 0.5s;
}

.cover:before{
  content: '';
  background: rgba(42,44,47);
  opacity: 0.3;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.cover:hover {
  opacity: 0.8;

}

@media screen and (max-width: 1024px) {
  .cover {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 550px) {
  .cover {
    margin-bottom: 64px;
    margin-top: 68px;
  }
}
