.cover__title {
  max-width: 560px;
  color: white;
  z-index: 2;
  font-family: "Inter-black", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  align-self: center;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  min-width: 560px;
  min-height: 152px;
}

/* @media screen and (max-width: 400px) {
  .cover__title {
    min-width: 100%;
    max-width: 100%;
  }
}  */

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    min-width: 250px;
    min-height: 10px;
    margin-left: 16px;
    margin-right: 16px;
    /* margin-top: 33px; */
    margin-bottom: 16px;
    padding-left: 25px;
    padding-right: 25px;

    /* border: 3px rgb(235, 14, 14) solid; */
  }
}
