.place {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 0.95fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "place__title place__website"
  "place__image place__paragraph";
  gap: 48px 40px;
  box-sizing: border-box;
  }

  @media screen and (max-width: 1024px) {
    .place {
      grid-template-columns: 0.97fr 1fr;
      gap: 48px 32px;
    }
  }

  @media screen and (max-width: 768px) {
    .place {
      margin-bottom: 73px;
    }
  }

  @media screen and (max-width: 550px) {
    .place {
      display: flex;
      flex-direction: column;
    }
  }


