.footer__column-links {
  display: flex;
  flex-direction: row;
  max-width: 1184px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 550px) {
  .footer__column-links {
    flex-direction: column;
  }
}
