.place__website {
  max-width: 466px;
  margin: 0;
  font-family: "Inter-reg", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  align-self: flex-end;
  }

  @media screen and (max-width: 617px) {
    .place__website {
      max-width: 100%;
      padding: 0;
      align-self: flex-start;
      padding-left: 16px;
      padding-right: 16px;

    }
  }
